@use "../foundation/global" as *;

.ex {

    &-inner {
        padding-bottom: 70px;

        @include mq("sp") {
            padding-top: 11px;
            padding-bottom: 0;
        }
    }

    &-title {
        text-align: center;
    }

    &-items {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq("sp") {
            margin-top: 32px;
            display: block;
        }
    }

    &-item {
        width: 32%;
        height: auto;
        display: block;
        background-color: $sub_black;
        
        @include mq("sp") {
            width: 100%;
            max-width: 350px;
            margin: 0 auto;

            &:not(:first-child) {
                margin-top: 32px;
            }
        }

        &__inner {
            padding: 28px;

            @include mq("sp") {
                padding: 24px;
            }
        }

        &__doubleQuotation {
            width: 32px;
            height: auto;

            @include mq("sp") {
                width: 24px;    
            }
        }

        &__title {
            margin-top: 32px;
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;

            @include mq("sp") {
                margin-top: 20px;
                font-size: 16px;
                line-height: 28px;
            }
        }

        &__user {
            margin-top: 40px;
            display: flex;
            align-items: center;
            gap: 20px;

            @include mq("sp") {
                margin-top: 32px;
            }
        }

        &__userIconArea {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
        }
        &__userIcon {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__userCompany {
            line-height: 18px;
            font-weight: 500;
        }
        &__userPersonal {
            margin-top: 10px;
            font-size: 14px;
            line-height: 18px;
            color: $gray_color01;
        }
    }
}